@import "http://webfonts.ru/import/ptsans.css";

body {color:#193375; margin:0px; font-family:'PT Sans'; font-size:11pt}

.top {width:940px; height:284px; margin:0px auto; position:relative}

.top .logotype {width:264px; height:263px; position:absolute; right:32px; bottom:7px}

.top .social {width:300px; height:52px; position:absolute; left:37px; bottom:30px}

.top .help {border-radius: 5px; width:203px; height:45px; background: #ff0000; position:absolute; left:170px; bottom:33px;}

.help:hover {background: #ff5c5c;}

.transition {transition: 0.3s;}

.top .text {color:#1a3471; font-size:20pt; font-weight:bold; position:absolute; left:40px; top:40px}

.top .text span {font-size:40pt}

.b1a3374 {width:940px; height:53px; margin:0px auto;}

.content {width:848px; margin:0px auto; background:white; padding:28px 62px 28px 30px;}

.content p, .content ul {line-height:20px}

.content .left {float:left; width:183px}

.content .left .menu {font-size:13pt; padding:12px 12px; border-bottom:solid 2px #e7e7e7}

.content .left .menu:hover {background:#f9ff78}

.content .left .menu a {text-decoration:none; display:block; color:#193375}

.content .left .photo {margin-top:45px}

.content .left .photo div {text-align:center; width:167px; border:solid 4px white; box-shadow:0px 0px 30px #9BDAF4; border-radius:4px; margin-bottom:55px}

.content .right {margin-left:220px}

.content .right .left1 {margin-right:2px; float:left; height:410px; width:174px; background:#7dede6; border-radius:4px; padding:12px 17px; font-size:9pt; line-height:12pt}

.content .right .right1 {margin-right:2px; float:left; height:410px; width:174px; background:#7dede6; border-radius:4px; padding:12px 17px; font-size:9pt; line-height:12pt}

.content .right .right2 {float:left; height:410px; width:174px; background:#7dede6; border-radius:4px; padding:12px 17px; font-size:9pt; line-height:12pt}

.content .right .left1 a,
.content .right .right1 a,
.content .right .right2 a {color:white; text-decoration:none}

.content .right .info {float:left}

.content .right b {color:white; font-size:12pt; line-height:18pt; font-weight:bold}

.content .right span {color:white; font-size:9pt; line-height:12pt; float:right}

.content .plash p {line-height:17px !important; margin-nottom:48px}

h3, h4 {color:#FF0000}

.details {background:#7dede6; padding:38px}

.details table {margin:0px auto; width:850px}

.details .h1 {font-size:15pt}

.bottom {padding:28px; text-align:center; font-size:10pt}

.photos {text-align:center; width:167px; height:230px; border:solid 4px white; box-shadow:0px 0px 30px #9BDAF4; border-radius:4px; margin-bottom:55px; float:left; margin-right:34px}
