{% extends 'index/base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-left:220px">
<h3>О клубе</h3>
<p>Общественная организация «Мурманский социально-благотворительный клуб родителей и детей-инвалидов «Надежда» создана в январе 1993 года по инициативе родителей. Официально клуб зарегистрирован в отделе юстиции Мурманской области 22 февраля 1993 года. Клуб «Надежда» ведущая организация в городе, занимающая проблема детей, подростков и молодых инвалидов с заболеваниями психоневрологического профиля. В настоящий момент в его состав входит 167 семей. Клуб объединяет родителей, оказывает им консультативную, информационную и психологическую поддержку. Решает социальные вопросы, касающиеся  жизни детей и молодых инвалидов. Проводит семинары, фестивали творчества, различные спортивные и культурные мероприятия.</p>
<br>
<h3>Миссия организации</h3>
<p><b>Поддерживаем молодых людей с тяжелыми интеллектуальными и физическими нарушениями развития</b><br>
<p>У нас постоянно работает группа дневного пребывания для 20 ребят с психоневрологическими заболеваниями. Мы организуем их ежедневную занятость, творческую и досуговую деятельность, создаем условия для личностного роста и саморазвития, духовно-нравственного воспитания. Ребята занимаются как в клубе «Надежда», так и посещают различные мероприятия в Мурманске.</p>
<p><b>Организуем социально-культурные мероприятия для детей с инвалидностью и их семей</b><br>
<p>Мероприятия, на которых могут собраться дети, молодые люди, имеющие инвалидность, а так же их семьи и близкие люди, позволяют ощутить себя частью большой семьи, в которой не только можно общаться, но и получить опыт решения различных ситуаций. Позволить почувствовать себя участниками жизни общества детям, подросткам, молодым людям с ограниченными возможностями и их семьям, содействовать формированию толерантного отношения общества к людям с инвалидностью – вот основные задачи наших социально-культурных мероприятий. </p>
<p><b>Способствуем повышению уровня социальной активности и правовой грамотности членов семей, воспитывающих детей и молодых людей с инвалидностью</b><br>
<p>В рамках просветительского проекта «Правовой ликбез» проводятся информационные встречи по наиболее актуальным темам. На данных встречах родные и близкие детей и молодых людей с инвалидностью получают информацию о применении законодательства в области оказания медицинской помощи, социального обслуживания и т.д. , а так же имеют возможность задать интересующие вопросы специалистам. Специалисты по социальной работе оказывают содействие в получении льгот и социальных услуг – помогают разобраться в алгоритме защиты своих прав – в результате уровень социальной активности членов семей, воспитывающих детей и молодых людей с инвалидностью повышается.</p>
<br>
<h3>Руководитель организации</h3>
<p>Кислякова Валентина Михайловна&nbsp&#151; с 1993г. и по настоящее время&nbsp&#151; председатель общественной организации «Мурманский  социально-благотворительный клуб родителей и детей-инвалидов «Надежда».</p>

<br>
<h3>Наши мероприятия</h3>
<p><b>Группа дневного пребывания</b><br>
<p>Наша группа дневного пребывания – это специально созданная среда, в которой молодые люди и девушки с особенностями интеллектуального развития обучаются, развиваются и проводят свой досуг. Сейчас группа объединяет 20 ребят: они занимаются прикладным творчеством, музыкой. Ребята участвуют в конкурсах и мероприятиях города Мурманска.</p>
<p><b>Комплексная поддержка семей с детьми-инвалидами и инвалидами молодого возраста с нарушениями интеллектуального и психофизического развития.</b><br>
<p>Основными целями данного проекта  является:</p>
<ul>
<li>адаптация семьи и ребенка-инвалида, молодого инвалида в обществе, изменение социальной роли семьи и ребенка через комплекс качественных адресных социальных услуг;</li>
<li>домашнее сопровождение семей с детьми-инвалидами и семей с детьми с ограниченными физическими и умственными возможностями;</li>
<li>организация реабилитационных мероприятий, обеспечение участия инвалидов в культурно-досуговой жизни, поддержание их активного образа жизни.</li>
</ul>
<p>Для реализации поставленных целей будут решены следующие задачи:
<ul>
<li>Создать условия в помещении Клуба «Надежда» для организации и проведения реабилитационных мероприятий, поддержания активного образа жизни подростков и молодых инвалидов  с  нарушениями интеллектуального и психофизического развития.</li>
<li>Расширить сеть социальных услуг для реабилитационной работы с  молодыми инвалидами, детьми-инвалидами и их адаптации в обществе на базе клуба «Надежда», стимулирование личностных изменений инвалида.</li>
<li>Оказать содействия семье в комплексном решении внутрисемейных проблем.</li>
<li>Привлечь волонтеров к работе по проекту.</li>
</ul>
<p>Проект является составной частью долгосрочной программы, реализуемой клубом «Надежда» в течение 7 лет, направленной на оказание социальной поддержки детям-инвалидам, инвалидам молодого возраста  с нарушениями интеллектуального и  психофизического  развития их родным и близким.</p>
<p><b>Правовое просвещение родителей, родных детей и молодых людей с психоневрологическими  заболеваниями «Правовой ликбез».</b><br>
<p>Просветительский проект знакомит родителей, родных детей и молодых людей страдающими психоневрологическими заболеваниями, а также специалистов, работающих с этой категорией населения, с действующим законодательством по актуальным для них вопросам. Групповые и индивидуальные информационные занятия, встречи, консультации по правовым вопросам, содействие в решении сложных жизненных ситуациях способствует улучшению качества жизни семей с больными детьми и молодыми людьми-инвалидами. Проект направлен на повышение уровня правовой грамотности, привлечение внимания к проблемам людей с психоневрологическими заболеваниями, оказание содействия в решение конкретных проблем направлено оформление информационных стендов, распространение листовок и буклетов с полезной информацией.</p>


</div>
{% endblock content %}
