{% extends 'index/base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-left:220px">

<a href="/photo/children2016/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/children2016/3OQsZEdzn7s.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>День защиты детей 2016</h4></td></tr>
</table>
</div></a>

<a href="/photo/children2015/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/children2015/0m2O5pCNSgA.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>День защиты детей 2015</h4></td></tr>
</table>
</div></a>

<a href="/photo/children2014/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/children2014/1xQWOYFUgR8.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>День защиты детей 2014</h4></td></tr>
</table>
</div></a>

<a href="/photo/teplo/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/teplo/6RR-pvRGJFo.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>Анти-кафе Тепло</h4></td></tr>
</table>
</div></a>
<a href="/photo/bard/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/bard/EaAGPs1pBts.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Бардовские песни</h4></td></tr>
</table>
</div></a>
<a href="/photo/blago/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/blago/2cL5P8QzJ54.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Благоустройство территории</h4></td></tr>
</table>
</div></a>
<a href="/photo/day_care/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/day_care/-efQ9ljCncM.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Группа дневного пребывания</h4></td></tr>
</table>
</div></a>
<a href="/photo/decade2013/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/decade2013/D8M7T5aFBYI.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Декада инвалидов 2013</h4></td></tr>
</table>
</div></a>
<a href="/photo/decade2014/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/decade2014/0RdYLuZFHuc.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Декада инвалидов 2014</h4></td></tr>
</table>
</div></a>
<a href="/photo/disco/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/disco/6XJqq5irbq0.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Дискотека в М-КЛУБЕ</h4></td></tr>
</table>
</div></a>
<a href="/photo/Ipoterapiya/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/Ipoterapiya/8NZGPm0QSIM.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Ипотерапия против ДЦП</h4></td></tr>
</table>
</div></a>
<a href="/photo/20150630/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/20150630/-BynTcdo-Gs.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Конференция 30 июня 2015</h4></td></tr>
</table>
</div></a>
<a href="/photo/Statoil/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/Statoil/1hq_Z2xr1So.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Надежда, дети, Статойл</h4></td></tr>
</table>
</div></a>
<a href="/photo/game_station/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/game_station/6PDRN5krxLY.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
На игровой станции</h4></td></tr>
</table>
</div></a>
<a href="/photo/camp/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/camp/0_4ZrKnh6CA.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
На турбазе</h4></td></tr>
</table>
</div></a>
<a href="/photo/obed-banket/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/obed-banket/-aVoU_YKavM.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Обед-банкет</h4></td></tr>
</table>
</div></a>
<a href="/photo/pravo2015/"><div class="photos">
<table cellpadding="0" cellspacing="0">
<tr height="167"><td><img src="{% static 'images/photo/pravo2015/-IUTATPpauU.jpg' %}" alt="" align="top"></td></tr>
<tr><td><h4>
Правовой ликбез 2015</h4></td></tr>
</table>
</div></a>

</div>
{% endblock content %}
