{% extends 'index/base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-left:220px">
<h3>СОЦИАЛЬНО-БЛАГОТВОРИТЕЛЬНЫЙ КЛУБ РОДИТЕЛЕЙ И ДЕТЕЙ-ИНВАЛИДОВ «НАДЕЖДА»</h3>
<p>Р/с 40703810341120001142 мурманский ОСБ № 8627</p>
<p>БИК 044705615</p>
<p>ИНН 5191110970</p>
<p>КПП 519001001</p>
<p>К/с 30101810300000000615</p>
<p>Россия, 183025, г. Мурманск, ул. Полярные зори, д. 41/4</p>
<p>тел/факс, (8-815-2) 44-35-79</p>
<p>E-mail: <a href="mailto:sbknadezhda@yandex.ru">sbknadezhda@yandex.ru</a></p>
</div>
{% endblock content %}
