{% extends 'index/base.html' %}
{% load staticfiles %}
{% block content %}
<div class="right">

<div class="left1 plash">
<img src="{% static 'images/1.jpg' %}" alt="" align="top">
<p><b>О клубе</b></p>
<p>Общественная организация «Мурманский социально-благотворительный клуб родителей и детей - инвалидов «Надежда» создан в январе 1993 года по инициативе родителей.</p>
<p>Зарегистрирована в отделе юстиции Мурманской области 22 февраля 1993 года.</p>
<span><i><a href="{% url 'about' %}">Подробнее >></a></i></span>
</div>

<div class="right1 plash">
<img src="{% static 'images/2.jpg' %}" alt="" align="top">
<p><b>Миссия организации</b></p>
<p>Мы работаем с детьми, подростками, молодыми инвалидами и семьями, в которых они воспитываются.</p>
<p>Мы помогаем им максимально реализовать свои возможности и таланты.</p>
<p>Вместе с родными мы боремся за будущее ребенка и полноценную жизнь семьи.</p>
<span><i><a href="{% url 'about' %}">Подробнее >></a></i></span>
</div>

<div class="right2 plash">
<img src="{% static 'images/3.jpg' %}" alt="" align="top">
<p><b>Руководитель</b></p>
<p>Кислякова Валентина Михайловна — с 1993г. и по настоящее время — председатель общественной организации «Мурманский социально-благотворительный клуб родителей и детей-инвалидов «Надежда».</p>
<span><i><a href="{% url 'about' %}">Подробнее >></a></i></span>
</div>

<div class="info">
<h3>О клубе</h3>
<p>Общественная организация «Мурманский социально-благотворительный клуб родителей и детей - инвалидов «Надежда» создан в январе 1993 года по инициативе родителей.</p>
<p>Зарегистрирована в отделе юстиции Мурманской области 22 февраля 1993 года.</p>
<p>Клуб «Надежда» - ведущая организация в городе, занимающаяся проблемами детей, подростков и молодых инвалидов с заболеваниями психоневрологического профиля, успешно сотрудничает с мурманской областной организацией «ВОИ», со средствами массовой информации, имеет поддержку администрации.</p>
<br>
<h3>Миссия организации</h3>
<p>Мы работаем с детьми, подростками, молодыми инвалидами и семьями, в которых они воспитываются.</p>
<p>Мы помогаем им максимально реализовать свои возможности и таланты.</p>
<p>Вместе с родными мы боремся за будущее ребенка и полноценную жизнь семьи.</p>
<p>Мы поддерживаем семьи, воспитывающие детей и молодых инвалидов с множественными нарушениями, когда они испытывают большие физические, эмоциональные или материальные трудности.</p>
<br>
<h3>Руководитель организации</h3>
<p>Кислякова Валентина Михайловна — с 1993г. и по настоящее время — председатель общественной организации «Мурманский социально-благотворительный клуб родителей и детей-инвалидов «Надежда».</p>
</div>

</div>
{% endblock content %}
