{% extends 'index/base.html' %}
{% load staticfiles %}
{% block content %}
<div style="margin-left:220px">
<h3>Наши люди</h3>
<p><b>Безменова Светлана Михайловна</b> – специалист по работе с молодежью, осуществляет помощь молодым инвалидам в течение их дневного пребывания в клубе.  Работает в клубе «Надежда» более семи лет.</p>
<p><b>Шасткив Татьяна Григорьевна</b> – социальный работник, осуществляет содействие родным и близким детей-инвалидов и молодых инвалидов в получении социальных услуг. Работает в клубе «Надежда» более семи лет.</p>
<p><b>Ашмарова Татьяна Викторовна</b> – волонтер, занимается с ребятами на спортивных тренажерах, сопровождает их на занятия в библиотеку, на экскурсии, помогает в организации мероприятий, проводимых в клубе «Надежда».</p>
<p><b>Борисова Виктория Николаевна</b> – волонтер, занимается с ребятами художественно-прикладным творчеством, вокалом, помогает в организации мероприятий, проводимых в клубе «Надежда».</p>
</div>
{% endblock content %}
